* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

*, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

html, body {
    height: 100%;
}

body {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main {
    display: flex;
    flex: 1 1 auto;
    margin: 50px auto;
    width: 580px;
    min-height: 500px;
    max-height: 500px;
    border: 2px solid red;
}

footer {
    text-align: center;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}